.main-up{
    background-color: white ;
}

.start-up{
    margin-left: auto;
    margin-right: auto;
}
.header{
    background-color: black;

}
.flex{
   display: flex;
   height: 65px;
   background-color: black;
}
.images{
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.place-content{
    justify-content: space-between;
}
.title{
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 17px;
}

.title img{
    margin-right: 10px;
}
.justify{
    margin-top: 25px;
    display: flex;
    margin-right: 30px;
    color: rgb(254, 253, 253);
}
.justify li{
    list-style: none;
    height: fit-content;
    margin-right: 30px;
    font-size: 17px;
}

.menu-item{
    display: inline-block;
    transition: color 0.2s ease;
    cursor: pointer;
}

.menu-item:hover{
    color: rgb(250, 5, 172);
    transform: translateY(-1px);
    animation-timing-function: ease-in;
    transform: ease;
}

.justify-center{
    justify-content: center;
}

.main-image{
    height: 80vh;
    width: 70vh;
    margin-left: 5%;
    margin-top: 2%;
}


